In [6]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [7]:
df= pd.read_csv(r'C:\Users\ISHAN KHURANA\Desktop\machine learning\knn\train (2).csv')[['Age','Pclass','Fare','Survived']]  # taken only 4 cols req

In [8]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [9]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [10]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [12]:
X_train.head()
y_train.head()

30     0
10     1
873    0
182    0
876    0
Name: Survived, dtype: int64

In [13]:
# knn = KNNImputer()  # we haven't set neighbors and weights here so accuracy will be low

knn = KNNImputer(n_neighbors=3,weights='distance')   # we have set neighbors and weights here so accuracy will be higher

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [14]:
pd.DataFrame(X_train_trf,columns=X_train.columns)  #converted into dataframe and missing values will be imputed using knn

           Age  Pclass      Fare
0    40.000000     1.0   27.7208
1     4.000000     3.0   16.7000
2    47.000000     3.0    9.0000
3     9.000000     3.0   31.3875
4    20.000000     3.0    9.8458
..         ...     ...       ...
707  30.000000     3.0    8.6625
708  26.959410     3.0    8.7125
709  71.000000     1.0   49.5042
710  32.666667     1.0  221.7792
711  49.762895     1.0   25.9250

[712 rows x 3 columns]

In [15]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7039106145251397

In [1]:
print("hello")

hello